<!DOCTYPE html>
<html lang="en" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Portal - Access Denied</title>
</head>
<body>

    <div class="container">
        <h1>Unauthorized Access!!!</h1>
    	
    	<br>
    	<form th:action="@{/logout}" id="logoutForm" method="post">
			<button type="submit" class="login-btn">Logout</button>
		</form>
		
		<ul>
			<li>
				<a th:href="@{/welcome}">Home</a>
			</li>
		</ul>
		
    </div>
				
</body>
</html>
